{% extends "base.html" %}

{% block content %}

<div class="auth-container">

    <div class="auth-card">

        <h1>Welcome Back</h1>

        <p class="auth-subtitle">
            Login to your OneHealth account
        </p>


        {% if error %}

            <div class="error-box">
                {{ error }}
            </div>

        {% endif %}


        <form method="POST">

            {% csrf_token %}

            <div class="form-group">

                <label>Username</label>

                <input
                    type="text"
                    name="username"
                    required
                    placeholder="Enter username"
                >

            </div>


            <div class="form-group">

                <label>Password</label>

                <input
                    type="password"
                    name="password"
                    required
                    placeholder="Enter password"
                >

            </div>


            <button
                type="submit"
                class="btn-primary"
            >
                Login
            </button>

        </form>


        <p class="auth-footer">

            Don't have an account?

            <a href="{% url 'accounts:register' %}">
                Create Account
            </a>

        </p>

    </div>

</div>

{% endblock %}